
.vs/QtChess/v15/.suo
.vs/QtChess/v15/Browse.VC.db
*.ipch
.vs/QtChess/v15/Browse.VC.opendb
*.dll
Package.appxmanifest
QtChess.sln
*.vcxproj
*.filters
QtChess.vcxproj.user
QtChess.windeployqt.x64.Debug
*.qm
x64/Debug/AppX/AppxManifest.xml
x64/Debug/AppX/assets/logo_150x150.png
x64/Debug/AppX/assets/logo_44x44.png
x64/Debug/AppX/assets/logo_620x300.png
x64/Debug/AppX/assets/logo_store.png
x64/Debug/AppX/QtChess.exe
x64/Debug/AppX/resources.pri
x64/Debug/AppX/vs.appxrecipe
x64/Debug/AppxManifest.xml
x64/Debug/Chess.obj
x64/Debug/embed/embed.resfiles
x64/Debug/embed/embed.resfiles.intermediate
x64/Debug/excluded.layout.resfiles
x64/Debug/excluded.layout.resfiles.intermediate
x64/Debug/filtered.layout.resfiles
x64/Debug/filtered.layout.resfiles.intermediate
x64/Debug/main.obj
x64/Debug/moc_Chess.obj
x64/Debug/MultipleQualifiersPerDimensionFound.txt
x64/Debug/pri.resfiles
x64/Debug/pri.resfiles.intermediate
x64/Debug/priconfig.xml
x64/Debug/priconfig.xml.intermediate
x64/Debug/ProjectArchitectures.txt
x64/Debug/qrc_Chess.obj
x64/Debug/qt_work.log
x64/Debug/QtChess.build.appxrecipe
x64/Debug/QtChess.exe
x64/Debug/QtChess.log
x64/Debug/QtChess.pdb
x64/Debug/QtChess.tlog/CL.10840.write.1.tlog
x64/Debug/QtChess.tlog/CL.command.1.tlog
x64/Debug/QtChess.tlog/CL.read.1.tlog
x64/Debug/QtChess.tlog/link.command.1.tlog
x64/Debug/QtChess.tlog/link.read.1.tlog
x64/Debug/QtChess.tlog/link.write.1.tlog
x64/Debug/QtChess.tlog/moc.read.1u.tlog
x64/Debug/QtChess.tlog/moc.write.1u.tlog
x64/Debug/QtChess.tlog/QtChess.lastbuildstate
x64/Debug/QtChess.tlog/QtChess.read.1u.tlog
x64/Debug/QtChess.tlog/QtChess.write.1u.tlog
x64/Debug/QtChess.tlog/rcc.read.1u.tlog
x64/Debug/QtChess.tlog/rcc.write.1u.tlog
x64/Debug/QtChess.tlog/uic.read.1u.tlog
x64/Debug/QtChess.tlog/uic.write.1u.tlog
x64/Debug/QtChess.vcxproj.GenerateResource.Cache
x64/Debug/qualifiers.txt
x64/Debug/qualifiers.txt.intermediate
x64/Debug/ResourceHandlingTask.state
x64/Debug/resources.pri
x64/Debug/resources.resfiles
x64/Debug/resources.resfiles.intermediate
x64/Debug/unfiltered.layout.resfiles
x64/Debug/unfiltered.layout.resfiles.intermediate
x64/Debug/vc141.pdb
GeneratedFiles/Debug/moc_Chess.cpp
GeneratedFiles/qrc_Chess.cpp
GeneratedFiles/ui_Chess.h
